{% load static %}
{% load widget_tweaks %}

<html>
<head>
    <title>Votechain - Aplicação Cliente</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet-registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/nunito-font.css' %}">
</head>

<body>
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="static/image/blockchain.jpg" alt="form">
            </div>

            <form class="form-detail" method="POST">{% csrf_token %}
                <h3>Criar conta</h3>

                <!-- Renderização de campos ocultos -->
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
    
                <!-- Renderização de campos com erro -->
                {% if form.non_field_errors %}
                    <div class="alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
    
                <!-- Renderização de campos sem erro -->
                {% for field in form.visible_fields %}
                    <div class="form-row">
                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% render_field field class="input-text is-invalid" %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="input-text is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="input-text" %}
                        {% endif %}
    
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <a href="{% url 'login' %}">Acessar conta</a>

                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value="Registrar">
                    <input type="hidden" name="next" value="{% url 'index' %}">
                </div>
            </form>

        </div>
    </div>
</body>
</html>