<html>
    <head>
        <title>TCC</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <h2>Usuários</h2>
        </div>

        <div>
            <form method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for user in users %}
                    <ul>
                        <li><a type="submit" href="{% url 'verAmigos' user.id %}">{{ user.nome }}</a></li>
                    </ul>
                {% endfor %}
            </form>
        </div>
        <div>
            <script type="application/javascript">
                $(document).ready(function() {
                    let a = 4;
                    // let a = $.getJSON('http://localhost:8000/router/blocks/');
                });
            </script>
        </div>
    </body>

</html>