<html>
    <head>
        <title>TCC</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h2>Amigos de {{ user }}</h2>
        </div>

        <br/>
        <div>
            <ul>
            {% for amigo in user.amigos.all %}
                <li>{{ amigo }}</li>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>