<html>
    <head>
        <title>TCC</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h2>Usuários</h2>
        </div>

        <div>
            <form method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for user in users %}
                    <ul>
                        <li><a type="submit" href="{% url 'verAmigos' user.id %}">{{ user.nome }}</a></li>
                    </ul>
                {% endfor %}
                <a type="submit" href="{% url 'abrirJson'%}">Ver todos</a>
            </form>
        </div>
    </body>
</html>